@font-face {
     font-family: 'Inter-UI';
     src: url('../fonts/inter_regular.eot');
     src: url('../fonts/inter-regular.woff') format('woff'),
          url('../fonts/inter_regular.woff2'),
          url('../fonts/inter_regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Robboto';
     src: url('../fonts/roboto_regular.eot');
     src: url('../fonts/roboto_regular.woff') format('woff'),
          url('../fonts/roboto_regular.woff2'),
          url('../fonts/roboto_regular.ttf') format('truetype');
     font-weight: 500;
     font-style: normal;
}