$grey-light: #D9D9D9;
$grey: #BFBFBF;
$grey-darker: #8C8C8C;
$grey-darkest: #595959;
$blue: #81c2ff;
$btn-color: white;
$shadow-color: rgba(50, 49, 49, 0.411);
$primary-color: #1890FF;
$color-success: #52C41A;
$color-main: #E5E5E5;
;
$color-secondary: white;
$color-error: #F5222D;
$text-color: #1B1C21;

$font-size--large: calc(80 / 16) * 1rem;
$font-size--big: calc(20 / 16) * 1rem;
$font-size--header: calc(18 / 16) * 1rem;
$font-size--button: calc(16 / 16) * 1rem;
$font-size--inline: calc(14 / 16) * 1rem;
$font-size--small: calc(12 / 16) * 1rem;

$font-weight: 500;
$font-weight--400: 400;

$line-height--header: calc(28 / 16) * 1rem;
$line-height--small: calc(16 / 16) * 1rem;
$line-height--text: calc(22 / 16) * 1rem;
$line-height--link: calc(20 / 16) * 1rem;
$line-height--button: calc(24 / 16) * 1rem;

$font-family: "Inter-UI", sans-serif;
$font-family-robboto: 'Robboto', sans-serif;